* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


    /* HEADER */
header {
    background-color: #003b46;
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    position: sticky;
    z-index: 20;
}

h2 {
    text-align: center;
    padding-bottom: 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 5px;
}

p {
    letter-spacing: 1px;
    font-size: 17px;
}

.main-wrapper {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

header .main-wrapper {
    justify-content: space-between;
    align-items: center;
}

header img {
    padding: 10px;
    width: 110px;
}

.main-menu > ul > li {
    padding-right: 25px;
    display: inline-block;
    cursor: pointer;
}

.main-menu > ul > li > a {
    text-decoration: none;
    color: #66a5ad;
    font-size: 17px;
    position: relative;
    transition: .5s;
    letter-spacing: 1px;
}

.main-menu > ul > li > a:hover {
    color: #c4dfe6;
}

.main-menu > ul > li:last-child {
    padding-right: 0;
}

.main-menu > ul > li > a::after {
    content: '';
    opacity: 0;
    width: 10%;
    height: 3px;
    background-color: #c4dfe6;
    position: absolute;
    top: 26px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 5px;
    transition: .5s;
}

.main-menu > ul > li > a:hover::after {
    opacity: 1;
    width: 100%;
}

    /* MAIN-BOARD */
.main-board {
    height: 900px;
    background: url('img/fonstola.ru_359255_1920x1200.jpg') no-repeat fixed;
    background-position: center center;
    background-size: cover;
    position: relative;
    /* transform: translate3d(0px, -63.8844px, 0px) */
}

.main-board::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgb(192, 222, 231, .51);
}

.main-board .main-wrapper {
    padding: 170px 15px;
    display: flex;
    align-items: flex-start;
    z-index: 2;
    color: #003b46;
}

.main-board__left-block {
    width: 50%;
    position: relative;
}
.main-board__left-block > h1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #003b46;
    width: 0%;
    height: 5px;
    border-radius: 10px;
    transition-duration: .8s;
}

.main-board__left-block > h1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #003b46;
    width: 5px;
    height: 0%;
    border-radius: 10px;
    transition-duration: .8s;
}

.main-board__left-block > h1 {
    padding: 5px 25px 0 25px;
    margin-bottom: 25px;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    position: relative;
    cursor: default;
}

.main-board__left-block > h1:hover::before {
    height: 50%;
}

.main-board__left-block > h1:hover::after {
    width: 50%;
}

.main-board__left-block > div:first-of-type {
    color: white;
    letter-spacing: 1px;
    font-size: 17px;
    margin-bottom: 35px;
}

.main-board .main-wrapper img {
    margin: 0;
    margin-left: 25%;
    width: 150px;
}

.main-board__left-block > div:last-of-type {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

.main-board__button {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    padding-right: 30px;
    height: 60px;
    border: 2px solid #003b46;
    line-height: 17px;
    border-radius: 0 5px;
    transition: .3s;
}

.main-board__button:last-child {
    margin-left: 20px;
}

.main-board__button > i {
    font-size: 36px;
    margin: 10px;
}

.main-board__button > div {
    margin-left: 15px;
    font-size: 14px;
}

.main-board__button > div > div:last-of-type {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.5px;
}

.main-board__button:hover {
    background-color: #003b46;
}

    /* Services */
.services {
    height: 600px;
}
.services-content {
    padding-top: 30px;
    height: 420px;
}

.services-content .main-wrapper {
    flex-direction: column;
    position: relative;
    top: -140px;
}

h2 > span {
    position: relative;
    letter-spacing: 1px;
    font-size: 30px;
    color: #07575b;
}

h2 > span::after {
    content: '';
    position: absolute;
    top: 33px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #07575b;
    width: 10%;
    height: 3px;
    border-radius: 5px;
    opacity: 0;
    transition: .5s;
}

h2 > span:hover::after {
    opacity: 1;
    width: 100%;
}

.services__block-item {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.services-item {
    display: flex;
    flex: 0 0 32%;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
    transition: .5s;
    border-radius: 10px;
    color: #07575b;
}

.services-item:hover {
    box-shadow: 0 0 10px 1px #07585c83;
}

.services-item:hover > div:first-child {
    background-color: #07575b;
    color: white;
}

.services-item > div:first-child {
    font-size: 35px;
    border-radius: 50%;
    line-height: 108px;
    margin: 0 auto;
    margin-top: 30px;
    width: 108px;
    height: 108px;
    transition: .5s;
    border: 1px solid #07575b;
}

.services-item > h3 {
    margin: 25px 0;
    letter-spacing: 2px;
}

.services-item > p {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding: 0 10px;
    letter-spacing: 0.9px;
    line-height: 26px;
    margin-bottom: 10px;
}
.services-item > a {
    margin: 20px auto;
    margin-bottom: 30px;
    text-decoration: none;
    color: #07575b;
    border: 2px solid #07575b;
    width: 50%;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    transition: .3s;
    letter-spacing: 1px;
    border-radius: 0 5px;
}

.services-item > a:hover {
    background-color: #07575b;
    color: white;
}

.wave {
    width: 100%;
    overflow: hidden;
    position: relative;
    top: -217px;
}

.wave__one {
    background: url('img/wave_top.png') repeat-x;
    width: 7000px;
    height: 218px;
    animation: waves 15s infinite linear;
    position: absolute;
    top: 0;
}
.wave__two {
    background: url('img/wave_top.png') repeat-x;
    width: 7000px;
    height: 218px;
    position: relative;
    top: 0;
    opacity: 0.5;
    animation: waves 10s infinite linear;
}

.wave:last-of-type {
    transform: rotate(180deg);
    top: -52px;
    z-index: 10;
}

@keyframes waves {
    0% {
        margin-left: 0px
    }
    100% {
        margin-left: -1938px
    }
}

    /* Travel */
.travel {
    background: url('img/519165_main.jpg') no-repeat fixed;
    background-size: cover;
    height: 800px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    color: white;
}

.travel .main-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 120%;
}

.travel h2 {
    margin-bottom: 60px;
    color: white;
}

.travel h2 > span {
    color: white
}

.travel h2 > span::after {
    background-color: white;
}

.travel-content {
    /* margin-top: 100px; */
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 200px;
}
 
.travel::after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, .3);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.button {
    position: relative;
    font-size: 34px;
    width: 70px;
    height: 70px;
    border: 3px solid white;
    z-index: 2;
    border-radius: 50%;
    line-height: 70px;
    text-align: center;
    margin: 0 50px;
    transition: .5s;
    cursor: pointer;
}

.button:hover {
    opacity: .5;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    /* margin-bottom: 60px; */
}

.about p {
    padding-top: 100px;
}

    /* Team */

.team .main-wrapper {
    margin-bottom: 50px;
    /* padding-bottom: 150px; */
    /* margin: 50px 0; */
    flex-direction: column;
}
.team {
    height: 650px;
}

.team h2 {
    margin-bottom: 30px;
}

.persons {
    display: flex;
}

.person {
    border-radius: 5px;
    display: flex;
    max-width: 255px;
    flex-direction: column;
    margin-right: 25px;
    box-shadow: 0 0 10px 1px rgb(192, 222, 231, .51)
}

.person:last-of-type {
    margin-right: 0;
}

figure {
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    position: relative;
    background-color: transparent
}

figure::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 5px solid transparent;
    transition: 1s;
}

figcaption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

figure:hover img {
    transform: scale(1.15);
}

figure:hover figcaption a {
    transform: translateY(0);
}

figure:hover::after {
    border: 5px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 251, 251, 0.6);
}

figcaption a {
    position: relative;
    z-index: 3;
    color: #07575b;
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border: 1px solid #07575b;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: 20px;
    transition: 1s;
}

figcaption a:last-of-type {
    margin-right: 0;
}

figcaption a:hover {
    background-color: #07575b;
    color: white
}

figcaption a:nth-child(1) {
    transform: translateY(60px);
}
figcaption a:nth-child(2) {
    transform: translateY(100px);
}
figcaption a:nth-child(3) {
    transform: translateY(140px);
}
.person img {
    width: 300px;
    /* height: 200px; */
    transition: 1s;
}

.person img:hover {
    transform: scale(1.2);
}

.person__footer {
    color: #07575b;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 10px;
    height: 70px;
    text-align: center;
    margin-bottom: 10px;
}

    /* Our Blog */
.our-blog {
    background: url('img/fonstola.ru_231908_1920x1200.jpg') no-repeat fixed;
    /* height: 500px; */
    width: 100%;
    background-size: cover;
    position: relative;
}

.our-blog .main-wrapper {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 60px;
}

.our-blog::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* background-color: rgba(107, 107, 107, 0.3); */
}

.our-blog h2 > span {
    color: rgb(230, 230, 230);
    text-shadow: 4px 3px 2px #5f4d4d;
}

.our-blog h2 > span::after {
    background-color: rgb(230, 230, 230);
    top: 36px;
}

.our-blog__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 40px;
    height: 550px;
    justify-content: space-between;
    align-content: space-between;
}

.our-blog__item {
    width: 49%;
    height: 267px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    /* margin: 0 10px 10px 0; */
}

.our-blog__item div:last-of-type {
    width: 50%;
    height: 100%;
    background-color: rgb(230, 230, 230);
    border-radius: 0 5px 5px 0;
    text-align: center;
    position: relative;
}

.our-blog__item div:last-of-type::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgb(230, 230, 230);
    top: 100px;
    left: -10px;
    transform: rotate(45deg);
    z-index: -1;
}

.our-blog__item div:first-of-type {
    overflow: hidden;
    border-radius: 5px 0 0 5px;
    position: relative;
    z-index: -2;
}

.our-blog__item img {
    filter: grayscale(.7);
    width: 267px;
    height: 100%;
    transition: 1s;
    border-radius: 5px 0 0 5px;
}

.our-blog__item:hover img {
    transform: scale(1.02);
    filter: grayscale(0);
}

.our-blog__item:hover .our-blog__item__text h2 {
    text-decoration: underline;
}

.our-blog__item__text {
    line-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .4s;
}
.our-blog__item__text h3 {
    font-size: 15px;
    color: rgb(134, 134, 134);
}

.our-blog__item__text h2 {
    font-size: 19px;
}

    /* Card */
.card .main-wrapper {
    padding: 30px 0;
}

    /* form */

.form {
    background: url('img/792880-vertical-underwater-tumblr-background-1920x1080-htc.jpg') no-repeat fixed;
    background-size: cover;
}
.form .main-wrapper {
    flex-direction: column;
    padding: 60px 0;
}

.form .main-wrapper i{
    color: rgb(18, 31, 104);
    font-size: 24px;
    transition: .5s;
}

.form .main-wrapper button:hover i:last-of-type {
    color: white;
}

.form .main-wrapper h2 > span {
    color: white;
}

.form .main-wrapper h2 > span::after {
    background-color: white;
}

.form .main-wrapper form {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-content: center;
    border-radius: 5px 5px 0 0;
    background-color: rgba(255, 255, 255, 0.807);
    padding-top: 20px;
}

.form .main-wrapper label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.form .main-wrapper input {
    margin: 20px;
    padding: 10px;
    width: 80%;
    background-color: transparent;
    border: 2px solid rgb(18, 31, 104);
    color: black;
    transition: .5s;
    border-radius: 5px;
    cursor: pointer;
}

.form .main-wrapper input::-webkit-input-placeholder { 
    text-indent: 0px;   
    transition: text-indent 0.5s ease;
}
.form .main-wrapper input::-moz-placeholder { 
    text-indent: 0px;   
    transition: text-indent 0.5s ease;
}
.form .main-wrapper input:-moz-placeholder { 
    text-indent: 0px;   
    transition: text-indent 0.5s ease;
}
.form .main-wrapper input:-ms-input-placeholder { 
    text-indent: 0px;   
    transition: text-indent 0.5s ease;
}
.form .main-wrapper input:focus::-webkit-input-placeholder { 
    text-indent: 500px; 
    transition: text-indent 0.5s ease;
}
.form .main-wrapper input:focus::-moz-placeholder { 
    text-indent: 500px; 
    transition: text-indent 0.5s ease;
}
.form .main-wrapper input:focus:-moz-placeholder { 
    text-indent: 500px; 
    transition: text-indent 0.5s ease;
}
.form .main-wrapper input:focus:-ms-input-placeholder { 
    text-indent: 500px; 
    transition: text-indent 0.5s ease;
}

.form .main-wrapper input:last-of-type {
    margin-bottom: 30px;
}

.form .main-wrapper button {
    padding: 10px 0;
    border: 2px solid transparent;
    transition: .3s;
    width: 40%;
    border-radius: 0 0 5px 5px;
}

.form .main-wrapper button:hover {
    background-color: rgb(18, 31, 104);
    color: white;
    border: 2px solid rgb(18, 31, 104);
}

.form .main-wrapper button:focus {
    outline: none;
}

.form .main-wrapper input:focus {
    background-color: rgb(255, 255, 255);
    outline: none;
}

    /* Footer */
footer .main-wrapper {
    padding: 80px 0;
    flex-direction: column;
}

footer .main-wrapper img {
    width: 170px;
    margin-bottom: 30px;
}
footer .main-wrapper a {
    display: inline-block;
    margin-left: 45px;
    color: #003b46;
    font-size: 30px;
    position: relative;
    text-align: center;
    transition: .5s;
}

footer .main-wrapper a:first-of-type {
    margin-left: 0;
}

footer .main-wrapper a::before {
    content: '';
    position: absolute;
    border: 2px solid #003b46;
    width: 45px;
    height: 45px;
    right: 0px;
    margin: 0 auto;
    transition: .5s;
    transform: rotate(45deg);
    z-index: -1;
}

footer .main-wrapper a:hover {
    color: white;
}

footer .main-wrapper a:hover::before {
    background-color: #003b46;
}

.inst::before {
    left: -9px;
}

.vk::before {
    left: -4px;
}

footer h3 {
    margin-top: 20px;
    color: #003b46;
}